<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css" />
	<link rel="stylesheet" type="text/css" href="css/testFlorin.css" />
	<script type="text/javascript" src="js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script src="js/angular-cookies.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-app = "reviewsApp">
<div ng-controller = "AdvancedSearchController as ctrl" class="container">
	<div class="input-group">
	<form class="pull-left form-inline">
		<div class="form-group">
			<p>Cauta dupa titlu:</p>
			<input type="text" ng-model="ctrl.settings.title" class="form-control"></input>
			<p>Cauta dupa text:</p>
			<input type="text" ng-model="ctrl.settings.text" class="form-control"></input>
		</div>
		<div class="form-group">
			<p>Cauta dupa producator:</p>
			<input type="text" ng-model="ctrl.settings.producer" class="form-control"></input>
			<p>Cauta dupa planta:</p>
			<input type="text" ng-model="ctrl.settings.plants" class="form-control"></input>
		</div>
		<div class="form-group">
			<p>Cauta dupa afectiune:</p> 
			<input type="text" ng-model="ctrl.settings.uses" class="form-control"></input>
			<p>Din ultimele ore:</p>
			<input type="text" ng-model="ctrl.settings.hoursAgo" class="form-control"></input>
		</div>
		<div class="form-group">
			<p>Sorteaza dupa:</p>
			<select ng-model = "ctrl.settings.sortBy" class="form-control">
				<option value="nrComments">Numarul comentariilor</option>
				<option value="relevance">Relevanta</option> 
				<option value="date">Cele mai noi</option> 
			</select>
		</div>
	</form>		
	</div>
	<button ng-click="search()" class="btn btn-default flemRedBtn">Cautare</button>
	<div ng-repeat = "review in ctrl.reviews">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="/review/<%=review._id%>"><h4><%=review.reviewTitle%></h4></a>
			</div>
			<div class="panel-body">
				<p><%=review.reviewText%></p>
				<p>Plante: 
					<span ng-repeat = "plant in review.plants"><%=plant%><span ng-hide = "$last">,</span> </span>
				</p>
				<p>Afectiuni: 
					<span ng-repeat = "use in review.uses"><%=use%><span ng-hide = "$last">,</span> </span>
				</p>
				<p>Producator: <%=review.producer%></p>
			</div>
			
		</div>
			
	</div>
</div>

</body>
</html>